{
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 0
      }
    ]
  }
}